body{
    position: relative;
    min-height: 1000px;
    background: linear-gradient(to bottom, #ffffff, rgb(90, 150, 206), #0099ff);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  }
  
  .formulario {
    background-color: #222;
    border-radius: 15px;
    height: 550px;
    width: 350px;
    position: relative;
    overflow: hidden;
    background-color: #014877;
  
  }
  
  .formulario .Cadastrar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    z-index: 5;
  }
  
  .formulario {
    color: #fff;
    text-align: center;
  }
  
  .formulario .form {
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
    margin-top: 50px;
    opacity: 1;
  }
  .formulario .input {
    border: 0;
    outline: none;
    box-shadow: none;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 8px 15px;
    border-bottom: 1px solid #eee;
    width: 100%;
    font-size: 12px;
  }
  
  
  .formulario .botao {
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.7);
    border: 0;
    border-radius: 15px;
    display: block;
    margin: 15px auto;
    padding: 15px 0px;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
  }
  
  